<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaNegocio.Properties.Settings.prueba_portafolioConnectionString"
            connectionString="Data Source=DESKTOP-F9K8RB0\SQLEXPRESS;Initial Catalog=prueba_portafolio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>